<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
-->
<!-- updated: 10/18/2015 -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>title goes here</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<meta name="description" content="Eastern Orthodox Christian Theology and Practice" />
<meta name="keywords" content="russian orthodox,st nicholas" />
<meta http-equiv='pics-label' content='(pics-1.1 "http://www.icra.org/ratingsv02.html" l gen true for "https://www.orthodox.net/" r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true for "https://www.orthodox.net/" r (n 0 s 0 v 0 l 0))' /> 
<link type="text/css" rel="stylesheet" href="includes/layout.css" />
<link type="text/css" rel="stylesheet" href="liturgical.css" />
<script type='text/javascript'>dotdot="../";</script>
<script type="text/javascript" src="i.js"></script>
<link rel="stylesheet" type="text/css" href="menu/ddsmoothmenu.css" />
<!--[if lte IE 7]>
<style type="text/css">
html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/
</style>
<![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="menu/ddsmoothmenu.js">
/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script>
</head>
<body background="images/bgblue.jpg">
<div style="width:940; margin-left:auto; margin-right:auto"> <!-- All HTML code is in this box -->
<!--BEGIN"first row (header) -->
	<div class="natheader" > <!--natheader box-->
		<div style="height:180px;"> <!-- header image box -->
			<img src="images/header1.jpg" width="940px" height="180" border="0" alt="St Nicholas Russian Orthodox Church, McKinney, Texas" />
		</div> <!-- header image box -->
		<div style="width:940px; background-color:#1c5a80; margin-left: auto ; margin-right: auto;"> <!--940px box-->
			<div style="position:absolute; top:180px; left:0px; height:30px; width:940px; background-color:#1c5a80; margin-left: auto ; margin-right: auto;" > <!--box below header image (contains menu)-->
				<!--BEGIN:ddsmoothmenu-->
				<div id="smoothmenu1" class="ddsmoothmenu"> <!--ddsmoothmenu box-->
					<ul>
					<li><a href="https://www.orthodox.net/">Home</a></li>
					<li><a href="#">About Us</a>
						<ul>
							<li><a href="calendar/index.html">Julian Calendar &amp; Service Schedule</a></li>
							<li><a href="aboutus/saint-nicholas-orthodox-church-mckinney-contacts.html">Contact Information</a></li>
							<li><a href="aboutus/st-nicholas-orthodox-church-mckinney-texas-directions.html">Map &amp; Directions</a></li>
							<li><a href="aboutus/index.html">Our church</a></li>
							<li><a href="aboutus/building-fund.html">Building Fund</a></li> 
							<!-- <li><a href="../aboutus/sponsor-a-tree-pascha-2010.html">SPONSOR A TREE 2010 Paschal Appeal</a></li> -->
							<!-- <li><a href="../aboutus/benefactors.html">Benefactor's Appeal 2009/2010</a></li>  -->
							<li><a href="aboutus/building-chronology.html">Building Project Chronology</a></li>
							<li><a href="http://docs.google.com/View?id=dzgvjb6_16f2pcdrhn">Prayer List (updated often)</a></li>
							
							<li><a href="#">Ministries</a>
							<ul>
								<li><a href="http://docs.google.com/View?id=dzgvjb6_16f2pcdrhn">Prayer List (updated often)</a></li>
								<li><a href="ministries/orthodox-prison-ministry.html">Prison Ministry</a></li>
								<li><a href="ministries/church-choir.html">Church Choir</a></li>
								<li><a href="ministries/church-council.html">Church Council</a></li>
								<li><a href="ministries/saint-juliana-sisterhood.html">St. Juliana Sisterhood </a></li>
								<li><a href="ministries/saint-john-maximovich-brotherhood.html">St. John Brotherhood</a></li>
							</ul>
					</li>
						</ul>
					</li>
					<li><a href="#">Spiritual Things</a>
					  <ul>
						  <li><a href="sermons/index.html">Sermons</a></li>
						  <li><a href="full-voice/index.html">Speak with a Full Voice</a></li>
						  <li><a href="journal/index.html">Pastoral Journal</a></li>
						  <li><a href="scripture/index.html">Meditations on Scripture</a></li>
						  <li><a href="catechism/index.html">Catechesis</a></li>
						  <li><a href="questions/index.html">Questions &amp; Answers</a></li>
						  <li><a href="articles/index.html">Articles</a></li>
						  <li><a href="confess/index.html">Confession</a></li>
						  <li><a href="10things/index.html">&quot;10 things&quot;</a></li>
						  <li><a href="https://www.orthodox.net//redeemingthetime">"Redeeming the Time" blog</a></li>
						  <li><a href="leanings/index.html">From the Holy Fathers</a></li>
						  <li><a href="services/index.html">Church Service Texts</a></li>
						  <li><a href="trebnic/index.html">Trebnic prayers</a></li>
						  <!--   <li><a href="../trebnic">Lives of Saints</a></li> -->
					  </ul>
					</li>

					<!--------------------------------------
					<li><a href="#">Library</a>
					<ul>
					<li><a href="../gleanings/index.html">From the Holy Fathers</a></li>
					<li><a href="../services/index.html">Church Service Texts</a></li>
					<li><a href="../trebnic/index.html">Trebnic prayers</a></li>
					</ul>
					</li>
					---------------------------------------->

					<li><a href="#">Feasts and Fasts</a>
					  <ul>
					  <li><a href="greatlent/index.html">Great Lent</a></li>
					  <li><a href="dailylent/index.html">Daily Lenten Meditations</a></li>
					  <li><a href="sermons/index.html#GREAT_LENT">Homilies during Lent</a></li>
					  <li><a href="greatlent/lenten-lectionary.html">Lenten Lectionary</a></li>
					  <li><a href="pascha/index.html">Pascha</a></li>
					  <li><a href="pentecostarion/index.html">Pentecost</a></li>
					  <li><a href="nativity/index.html">Nativity</a></li>
					  <li><a href="theophany/index.html">Theophany</a></li>
					  </ul>
					</li>

					<li><a href="https://www.orthodox.net//aboutus/donate-to-st-nicholas-orthodox-church-mckinney-texas-via-paypal.html">Donate</a>	</li>

					<!------
					<li><a href="#"><img src="graphics/feed-icon-14x14.png" alt="RSS Feeds" align="left" border="0" />RSS Feeds</a>
								<ul>
									<li><a href="http://feeds.feedburner.com/blogspot/redeemingthetime">Redeeming the Time</a></li>
									<li><a href="http://feeds.feedburner.com/OrthodoxChristianSermonsOnTheGospelsEpistlesAndOtherTopics">Audio Homilies</A></li>
									<li><a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=271155112">iTunes Homilies</A></li>
									<li><a href="http://twitter.com/statuses/user_timeline/20407364.rss">Tweets</A></li>
									<li><a href="http://feeds.feedburner.com/StJulianaSisterhood">Recipes</A></li>
									<li><a href="http://feeds.feedburner.com/OrthodoxChristianCatecheticalTalks">Talks</A></li>
									<li><a href="http://feeds.feedburner.com/OrthodoxChristianMusicFromTheChoirOfStNicholasMckinneyTexas">Music</A></li>
								</ul>
					</li>
					------>

					<li><a href="#0.1_">Links </a>
					  <ul>
						<li><a href="#">Dallas/Fort Worth Area</a>
							<ul>
							   <li><a href="http://orthodoxbeacon.com/" target="_blank">Orthodox Beacon</a></li>
							   <li><a href="http://ntom.org/" target="_blank">North Texas Orthodox Missions</a></li>
								<li><a href="http://ntom.org/parish-directory/" target="_blank">Dallas-Fort Worth Orthodox Parish Directory</a></li>
							</ul>
						</li>

						<li><a href="#">ROCOR, Russian Orthodox Church</a>
							<ul>
								<li><a href="http://www.russianorthodoxchurch.ws/synod/indexeng.htm" target="_blank">Russian Orthodox Church Outside of Russia</a></li>
								<li><a href="http://www.fundforassistance.org/" target="_blank">ROCOR Fund for Assistance</a></li>
								<li><a href="http://directory.stinnocentpress.com/index.cgi" target="_blank">ROCOR Parish &amp; Clergy Directory</a></li>
								<li><a href="http://chicagodiocese.org/" target="_blank">Chicago Diocese of the ROCOR</a></li>		
								<li><a href="http://www.haitiorthodoxfamilyrelief.com" target="_blank">Haiti Orthodox Family Relief!</a></li>		
							</ul>
						</li>
						<li><a href="http://www.haitiorthodoxfamilyrelief.com" target="_blank">Haiti Orthodox Family Relief!</a></li>		
						<li><a href="http://pomog.org/scripture.shtml" target="_blank">Daily Scripture Readings</a></li>
						<li><a href="http://pomog.org/prologue.shtml" target="_blank">Prologue from Ochrid (lives of saints)</a></li>
				</ul>
			</li>					
			<!-- <li><a href="https://www.orthodox.net//redeemingthetime/">&quot;Redeeming the Time&quot; Blog</a> -->

					</ul>
					<br style="clear: left" />
			</div> <!--ddsmootmenu box-->
			<!--END:ddsmoothmenu-->
		</div> <!--box below header image (contains menu)-->
	</div> <!--940px box-->
</div> <!--natheader-->
<!--END:first row (header) -->

<!--BEGIN:row 2 of 2-->
<div class="natrow2">



<script type="text/javascript" src="js/before-row2-content.js"></script> <!--12/5/2011-->
<p>&nbsp; </p>


<!--BEGIN-CONTENT-->
	<div style="padding:5px;"> <!--padding:5px box-->

		<!-- BEGIN:Row1Col3Text -->

		<!-- END:Row1Col3Text -->

		<!-- <div style="text-align:center; font: 12px Verdana;" size="2"><img src="images/divider.jpg"></div> -->
			
		<!-- BEGIN:Row2Col3Text -->

		<!-- END:Row2Col3Text -->
	</div> <!--padding:5px box-->
<!--END-CONTENT-->

	<br clear="all" /> <!-- workaround Mozilla rendering bug -->

	<!-- 
	<div style="text-align:center;"><script type="text/javascript" src="js/rttfeed.js"></script></div>
	-->

	<!-- BEGIN:Ad for orthodoxinternet-->
	<p>We confidently recommend our web service provider, <a href="http://www.orthodoxinternet.com/">Orthodox Internet Services</a>: excellent personal customer service, a fast and reliable server, excellent spam filtering, and an easy to use comprehensive control panel.</p>
	<!-- END:Ad for orthodoxinternet-->
	<script type="text/javascript" src="js/natfooter.js"></script>
	</div> <!--natrow2-->
<!--BEGIN:row 2 of 2-->
</div> <!-- All HTML code is in this box -->
</body>
</html>